*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color:#FAAE17;
    --background-color:#1C1E29;
    --second-background-color:#263238cc;
    --primiary-color :#f2f2f2;
}
html{
    font-size: 16px;
}
.blob_a{
    position: absolute;
    height: 30rem;
    z-index: 1;
}
.blob_svg{
    bottom: 0%;
    height: 20rem;
}
.blob_svg2{
    height: 20rem;
    top: -25%;
    right: 0%;
}
span{
    color: var(--main-color);
    line-height: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar{
    width: .7rem;
    background-color: #f2f2f2;
}
/*============================================================

Registration Page Designing... 

============================================================*/
.registerMainComponent{
    height: 100vh;
    background-color: var(--background-color);
    color: var(--primiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title{
    font-size: 3rem;
    margin-bottom: 2rem;
    z-index: 10;
    color: var(--main-color);
    text-align: center;
}
.registerTitle{
    color: var(--primiary-color);
}
.registerSection{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
}
.registerForm{
    background-color: var(--second-background-color);
    z-index: 10;
    border-radius: 5%;
}
form{
    padding: 10%;
    display: grid;
    align-content: center;
}
.RegisterInputField{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}
input{
    height: 2rem;
    width: 100%;
    padding: .3rem;
}
label{
    font-size: 1.3rem;
    color: var(--main-color);
}
.btn:hover{
    cursor: pointer;
    transition: all ease-in-out .5s;
    box-shadow: 1px 1px 5px white;
    border: 1px solid white;
}
.btn{
    width: 100%;
    background-color: var(--main-color);
    border: transparent;
    color: var(--primiary-color);
    height: 2.5rem;
    border: none;
    border-radius: .5rem;
    color: var(--background-color);
    font-size: 1.2rem;

}
.Registerdomain select{
    border: 1px solid;
    width: 100%;
    height: 2rem;
}
.registerSVG{
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align:center;
    z-index: 10;
}
.registerSVG img{
    width: 70%;
}
.registerSVG p{
    font-size:110%;
}
.registerSVG p span{
    color: var(--main-color);
    cursor: pointer;
}
.registerSVG p span:hover{
    text-decoration: underline;
}
/*============================================================

Login Page Designing... 

============================================================*/

.loginContainer{
    background-color: var(--background-color);
    color: var(--primiary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100vh;

}
.loginimage img{
    height: 70%;
}
.loginimage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LoginForm{
    background-color: var(--second-background-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 90%;
    gap: 2rem;
    
}
/*============================================================

Header Section Designing...

============================================================*/
.headerContainer{
    /* border:1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.Headerbtn{
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: var(--main-color);
    color: var(--background-color);
    border-color: var(--main-color);
}
.headerImage{
    display: flex;
    justify-content: space-around;
    color: var(--main-color);
    align-items: center;
}
.headerImage p{
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: bold;
}
.headerlogo{
    height: 2.3rem;
}

/*============================================================

Language Side Navbar Section Designing...

============================================================*/
.LangContainer{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr .8fr;
    border: 1px solid white;
    border-top: 0;
}
.LangSection{
    border-bottom: 1px solid white;
    padding: .5rem;
}
.languages{
    height: 100%;
    display: grid;
    align-content: space-around;
    justify-content: space-around;
}
.FeatureSection{
    background-color: var(--background-color);
    display: grid;
}
.languageBorder{
    border: 1px solid white;
    display: flex;
    border-radius: .3rem;
    justify-content: center;
    padding-top: .1rem;
}
.languageBorder img{
    border-radius: 100%;
}
.imagefeature11 {
    height: 2rem;
    border-radius: 0;
}


/*============================================================

Voice 2 Text Playground Page Designing...

============================================================*/
.voiceContainer{
    height: 100vh;
    background-color: var(--background-color);
}
.voiceHeader{
    background-color: var(--second-background-color);
    height: 10%;
    border: 1px solid white;
}
.voiceBody{
    height: 90%;
    display: grid;
    grid-template-columns: 5rem 1fr;
}
.leftLang{
    background-color: var(--second-background-color);
}
.voicePlayground{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.voiceTextContainer{
    background-color: var(--primiary-color);
    border-radius: 1rem;
    min-width: 50%;
    max-width: 80%;
    overflow: hidden;
    height: 25rem;
    display: grid;
    grid-template-rows: 1fr 5rem;
}
.voice2TextOutput{
    height: 20rem;
    padding: 1rem;
    overflow-y: auto;
    border: none;
    width: 100%;
    background-color: var(--primiary-color);
}

.btngroup button{
    padding: 1rem 2rem;
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--background-color);
    border-radius: .7rem;
}
.btngroup{
    padding: .3rem;
    display: flex;
    gap: .7rem;
    justify-content: space-evenly;
    align-items: center;
}
